# Dependencias de Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno
.env
.env.local
.env.*.local

# Sistema y editor
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# Archivos temporales
*.tmp
*.bak
*.swp
